RABBITMQ_URL=amqp://admin:admin@localhost:5672

GATEWAY_HTTP_PORT=3000

ORDERS_DATABASE_URL=postgres://postgres:postgres@localhost:5433/orders
INVENTORY_DATABASE_URL=postgres://postgres:postgres@localhost:5434/inventory
PAYMENTS_DATABASE_URL=postgres://postgres:postgres@localhost:5435/payments
NOTIFICATIONS_DATABASE_URL=postgres://postgres:postgres@localhost:5436/notifications

DB_SYNCHRONIZE=true
DB_LOGGING=false

OUTBOX_POLL_INTERVAL_MS=2000
OUTBOX_BATCH_SIZE=20
